html {
    font-family: 'Open Sans', sans-serif;
    
}

body {
    margin: 0;
    background-color: #081920;
}

h1 {
    text-align: center;
    color: #ffffff;
}
.joycon {
    margin: 5px;
    height: 100px; 
}

label {
    color: #ffffff;
    font-family: 'Open Sans Light', sans-serif;
    
}
input, label{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    
}
a {
    font-family: 'Open Sans', sans-serif;
    right: 50px
}

div {
    position: absolute;
    top: 5px;
    right: 10px;

}
