html {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
}

.pad {
  padding: 10px;
}
h1 {
    text-align: center;
    padding: 10px;
}
input, label{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
}
